<div ng-controller="CalculationCtrl as calCtrl" novalidate>
  <h2>Please fill in these attributes</h2>
  <form name="calModel">
    <label>Loan amount <input type="text" ng-model='calCtrl.loanAmount' required> </label>
    <label>Down payment years <input type="text" ng-model='calCtrl.downPayment' required> </label>
    <label>Interest rate <input type="text" ng-model='calCtrl.interestRate'> </label>
    <input type="submit" ng-click="calCtrl.calculate()";
  </form>
  <h3>Monthly payment {{calCtrl.calResult}}</h3>
  <a class="button" href="#!/welcome">Back to welcome page</a>
</div>